
#myvid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.content{
    position: relative;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
#nav{
    color: rgba(252, 239, 239, 0.815);
    background-color: rgba(11, 12, 14, 0.671);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#brand{
    width: 8%;
    height: 8%;
}
#bt{
    color:black;
    background-color: white;
}
#bt:hover{
    
    
    font-weight: bold;
}